$main-padding: 20px;

#main {
    padding: $main-padding;
}

.button {
  width: 350px;
}

.nav-icon {
  display: inline-block;
  display: inline;
  zoom: 1;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #606060;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 0 2px 5px;
}

.no-select {
  color: #a0a0a0;
}

.category {
  position: relative;
  width: 190px;
  border: 1px solid black;
  margin-top: 150px;
}

.hovered-category > .active-category > ul > li > div {
  display: none;
}

.hovered-category > .active-category > ul > .hovered-hoge > .active-hoge {
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  width: 300px;
  border: 1px solid red;
}
